<div style="width: 50%; display: block; margin: auto; padding-top: 5%;">

    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel id="custom-panel-1">
            <ng-template ngbPanelHeader>
                <div>
                    <h3 class="m-0">Ajouter un nouveau produit</h3>

                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="container contact-form">
                    <form method="post" #myForm="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="nom">Nom <input type="text" name="nom" [(ngModel)]="produits.nom"
                                            class="form-control" placeholder="Nom du produit " ngModel required
                                            minlength="2" #nom="ngModel"></label>
                                    <span style="color: red;" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                                        <span *ngIf="nom.errors?.['required']">Le nom est obligatoire</span>
                                        <span *ngIf="nom.errors?.['minlength']">Le nom doit avoir au moins 2
                                            lettres</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="prix">Prix <input type="number" name="prix" [(ngModel)]="produits.prix"
                                            class="form-control" placeholder="Prix du produit " ngModel required
                                            #prix="ngModel"></label>
                                    <span style="color: red;" *ngIf="prix.invalid && (prix.dirty || prix.touched)">
                                        <span *ngIf="prix.errors?.['required']">Le prix est obligatoire</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="details">Details<input type="text" name="details"
                                            [(ngModel)]="produits.details" class="form-control"
                                            placeholder="description du produit " ngModel required minlength="2"
                                            #details="ngModel" style="width: 100%; height: 100px;"></label>
                                    <span style="color: red;"
                                        *ngIf="details.invalid && (details.dirty || details.touched)">
                                        <span *ngIf="details.errors?.['required']">La description est obligatoire</span>
                                        <span *ngIf="details.errors?.['minlength']">Le description doit avoir au moins 2
                                            lettres</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        routerLink="/produits">Lister</button>
                                    <button type="submit" class="btn btn-success" name="addBtn"
                                        [disabled]="myForm.invalid" (click)="addProduit()">Ajouter</button>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>